.App {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}


header {
  grid-area: header;
  background-color: #333;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li {
  font-size: 1.2rem;
  
}

nav ul li a{
  color: #fff;
}

main {
  grid-area: main;
  padding: 2rem;
}

footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  padding: 1rem;
}
